@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500;1,900&display=swap');

  :root {
    --primary-color: hwb(145 7% 0%);
    --secondary-color: #3498DB;
    --accent1-color: #10e93f;
    --accent2-color: #030303;
  
    --heading-font: 'montserrat', serif;
    --paragraph-font: 'Prompt', sans-serif;
  
    --nav-background-color: #2ECC71;
    --nav-link-color: #fff;
    --nav-hover-link-color: #3498DB;
    --nav-hover-background-color: #3498DB;
  }

  h1,h2{
    color:var(--secondary-color);
    font-family: var(--heading-font);
  }
p{
    color:var(--accent2-color);
    font-size: 16px;
    font-family: var(--paragraph-font);
    font-weight: 400;
}

li{
    list-style: none;
}

.hero{
  position: relative;
}

.hero article {
  position: relative;
  top: 61px;
} 


article,h1{
  position: absolute;
  top: 2px;
}

header .nav-container{
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 500px 2fr 1fr;
	align-items: center;
	border-bottom: 5px solid #ccc;
	max-width: 100%;
}

.logo-rapids img{
  margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: 100px;
}

.nav-menu {
	display: flex;
	list-style: none;
}

.nav-menu li {
	flex: 1 1 100%;
}

.nav-menu a {
	display: block;
	color: var(--nav-hover-link-color);
	padding: 20px;
	text-decoration: none;
}

.nav-menu a:hover {
	color: #3498DB;
	font-weight: 700;
	text-decoration: underline;
}

ul {
	text-align: right;
}

.hero{
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%; 
}
.hero article img {
  float: right;
  width:15%
}

.hero p{
  width: 80%;
  text-align: left;
}


.history{
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 100%;
  height: 300px;
}
.history figure img{
  height: 100%;
}

.adventure{
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
}
.adventure img{
  height: 200px;
  width: 19%;
  object-fit: cover;
}

footer{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  background-color: #3d525f;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.centered-title {
  width: 100%;
  /* text-align: center; */
  position: absolute;
  }

footer .contact{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 30%; 
}
.contact li img{
  width: 50px;
  height: 50px;
}
.history h2{
  margin-top: -40px;
}

.adventure h2{
  margin-top: -40px;
}
/*Contact page*/

input,textarea,select{
  
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 15px;
  font-family: Roboto;
  font-size: 20px;
  height: 50px;
}

.section-form{
  /* width: 600px;
  position: absolute;
  left: 25%;
  right: auto; */
  width: 50%;
  height: 100%;
} 
.team{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.team figcaption{
  display: flex;
  width: 100%;
  flex-direction: row;
} 

.team div{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin-bottom: 600px;
  align-items: center;
  justify-content: space-between;
}

.section-form fieldset{
  /* margin-bottom: 130px; */
  height: 100%;
}
.check{
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.check input[type="checkbox"] {
  width: 35px;
}

.form-map-info{
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  justify-content: center;
  height: 610px;
}

.info{
  display: flex;
  width: 50%;
  flex-direction: column;
}

.section-form button{
  width: 100%;
  height: 50px;
  background-color: #2ECC71;
  border-radius: 15px;
  font-family: Roboto;
  font-size: 20px;
  color: #fff;
  border: none;
  margin-top: 20px;
}
.section-form label{
  font-size: 20px;
  font-family: Roboto;
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}

.section-form legend{
  font-size: 30px;
  font-family: Roboto;
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* @media screen and (max-width: 768px) {
  .section-form{
    width: 100%;
  }
  .form-map-info{
    display: flex;
    flex-direction: column;
  }
  .info{
    width: 100%;
  }
  .team{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team div{
    margin-bottom: 0;
  }
  .team figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team img{
    width: 100%;
  }
}
   */
   .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  .card p {
    padding: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
  }
  .trip-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-bottom: 200px

  }

.radiooo{
  display: flex;
  align-content: center;
  align-items: center;
}

.concver .section-form {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 150px
}