@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500;1,900&display=swap');

  :root {
    --primary-color: #2ECC71;
    --secondary-color: #3498DB;
    --accent1-color: #009e22;
    --accent2-color: #F1C40F;
  
    --heading-font: 'montserrat', serif;
    --paragraph-font: 'montserrat', serif;
  
    --nav-background-color: #2ECC71;
    --nav-link-color: #fff;
    --nav-hover-link-color: #3498DB;
    --nav-hover-background-color: #3498DB;
  }

  body {
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
  }

  header .nav-container {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 50px 2fr;
    align-items: center;
    border-bottom: 5px solid #ccc;
    max-width: 100%;
}
  .logo-rapids img{
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: 100px;
  }

  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-menu li {
    flex: 1 1 100%;
  }
  
  .nav-menu a {
    display: block;
    color: var(--nav-hover-link-color);
    padding: 20px;
    text-decoration: none;
  }
  
  .nav-menu a:hover {
    color: #3498DB;
    font-weight: 700;
    text-decoration: underline;
  }
  

  .card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
 