@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500;1,900&display=swap');
  :root {
    --primary-color: #2ECC71;
    --secondary-color: #3498DB;
    --accent1-color: #009e22;
    --accent2-color: #F1C40F;
  
    --heading-font: 'montserrat', serif;
    --paragraph-font: 'montserrat', serif;
  
    --nav-background-color: #2ECC71;
    --nav-link-color: #fff;
    --nav-hover-link-color: #3498DB;
    --nav-hover-background-color: #3498DB;
  }

  body {
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }