aside,main{
width: 50%;
margin:20px;
border:none;
padding:"5px";
background-color: #c9cacc4d
} 

main img{
    width: 200px;
    height: auto;
}
aside img{
    width: 200px;
    height: auto;
}
p{
    padding: 0;
}
footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}